// Core button mixin
%btn {
  @include ellipsis;
  @include reset-link;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  @include transition-all($trans-length);
}

// Button sizes
@mixin btn-size($padding, $height, $font-size) {
  padding-left: $padding;
  padding-right: $padding;
  height: $height;
  line-height: $height;
}

// %btn-sm {
//   @include btn-size();
// }
// %btn-md {
//   @include btn-size();
// }
// %btn-lg {
//   @include btn-size();
// }


// Button colors
@mixin btn-color($font-color, $bg-color) {
  background-color: $bg-color;
  color: $font-color;
}

// %btn-gray {
//   @include btn-color($font-color-base, $gray);
// }

// %btn-white {
//   @include btn-color($font-color-base, #fff);
// }

// Button shapes

// %btn-default {
//   border: ;// Core button mixin
//   border-radius: ;
//   font-family: ;
//   text-transform: ;
// }

// Default button constructor
@mixin addBtn($color, $bgcolor) {
    @extend %af-default-btn;
    @extend %af-btn-md;
    color: $color;
    background-color: $bgcolor;
    @include on-state {
        background-color: lighten($bgcolor, 4%);
        color: $color;
    }
}

// %btn-green {
//   @include addBtn(#fff, $green);
// }

// %btn-orange {
//   @include addBtn(#fff, $orange);
// }

// %btn-red {
//   @include addBtn(#fff, $red);
// }

// %btn-blue {
//   @include addBtn(#fff, $blue);
// }

// %btn-blue-lt {
//   @include addBtn(#fff, $blue-lt);
// }
