
$border: 1px solid $border-color;
$border-lt: 1px solid $border-color-lt;
$border-dk: 1px solid $border-color-dk;

// e.g. border-top: $border;

$round-xs: 3px;
$round-sm: 6px;
$round-md: 9px;
$round-lg: 12px;
