$opacity-dkr: 0.85;
$opacity-dk: 0.7;
$opacity-md: 0.5;
$opacity-lt: 0.2;
$opacity-ltr: 0.15;
$transparent: rgba(255,255,255,0);

// Semitransparent white
$trBlack-dkr: rgba(0, 0, 0, $opacity-dkr);
$trBlack-dk: rgba(0, 0, 0, $opacity-dk);
$trBlack: rgba(0, 0, 0, $opacity-md);
$trBlack-lt: rgba(0, 0, 0, $opacity-lt);
$trBlack-ltr: rgba(0, 0, 0, $opacity-ltr);

// Semitransparent black
$trWhite-dkr: rgba(255, 255, 255, $opacity-dkr);
$trWhite-dk: rgba(255, 255, 255, $opacity-dk);
$trWhite: rgba(255, 255, 255, $opacity-md);
$trWhite-lt: rgba(255, 255, 255, $opacity-lt);
$trWhite-ltr: rgba(255, 255, 255, $opacity-ltr);

// Brand colors
// $red: ;
// $orange: ;
// $yellow: ;
// $green: ;
// $cyan: ;
// $blue: ;
// $purple: ;
// $brown: ;
// $black: ;
// $gray-lt: ;
// $gray: ;
// $gray-dk: ;

// Background colors
// $bg-red: ;
// $bg-orange: ;
// $bg-yellow: ;
// $bg-green: ;
// $bg-cyan: ;
// $bg-blue: ;
// $bg-purple: ;
// $bg-brown: ;
// $bg-black: ;
// $bg-gray-lt: ;
 $bg-gray: rgb(210, 210, 210);
// $bg-gray-dk: ;

// Layout backrgound colors
// $bg-header:;
// $bg-nav:;
// $bg-sidebar:;
// $bg-body:;
// $bg-footer:;

// Font colors
$font-black: #424242;
// $font-color-lt: $gray-lt;
// $font-color: $gray;
// $font-color-dk: $gray-dk;

// Border colors
// $border-color-lt: $gray-lt;
// $border-color: $gray;
// $border-color-dk: $gray-dk;

// More colors
