// $border-radius: ;

// $height-navbar: ;
// $height-input: ;

// Set default margin value here (Protip: you can use it for paddings also)
$margin: 1.428rem;

$margin-lg: $margin * 2;
$margin-md: $margin * 0.75;
$margin-sm: $margin * 0.5;
$margin-xs: $margin * 0.25;


$height-input: 2rem;
