// Core button mixin
/*@mixin btn {
  @include ellipsis;
  @include reset-link;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  @include transition-all($trans-length);
}*/
