// Breakpoints
$mobile: 480;
$tablet-portrait: 768;
$tablet-landscape: 1024;
$desktop: 1200;

// Media queries
$min-mobile: '(min-width:#{$mobile}px)';
$min-tablet-portrait: '(min-width:#{$tablet-portrait}px)';
$min-tablet-landscape: '(min-wdisplay: block;idth:#{$tablet-landscape}px)';
$min-desktop: '(min-width:#{$desktop}px)';

$max-mobile: '(max-width:#{$mobile - 1}px)';
$max-tablet-portrait: '(max-width:#{$tablet-portrait - 1}px)';
$max-tablet-landscape: '(max-width:#{$tablet-landscape - 1}px)';
$max-desktop: '(max-width:#{$desktop - 1}px)';


// Mobile
@mixin mobile-portrait {
  @media #{$max-mobile} {
    @content;
  }
}

@mixin mobile-landscape {
  @media #{$min-mobile} and #{$max-tablet-portrait} {
    @content;
  }
}

@mixin mobile-only {
  @media #{$max-tablet-portrait} {
    @content;
  }
}

// Tablet
@mixin tablet-portrait {
  @media #{$min-tablet-portrait} and #{$max-tablet-landscape} {
    @content;
  }
}

@mixin tablet-landscape {
  @media #{$min-tablet-landscape} and #{$max-desktop} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$min-tablet-portrait} and #{$max-desktop} {
    @content;
  }
}

// Desktop
@mixin desktop-only {
  @media #{$min-desktop} {
    @content;
  }
}

// Other
@mixin not-mobile {
  @media #{$min-tablet-portrait} {
    @content;
  }
}

@mixin not-desktop {
  @media #{$max-desktop} {
    @content;
  }
}

