// Styles applied to bare html tags here

html {
  font-size: $fs-base;
}

body {
  // color: $font-color;
}

a {

}

div {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
    @include on-state {
      color: inherit;
    }
  }
}
