$sprites: sprite-map("../images/icons/*.png", $spacing: 5px);

@mixin icon($name) {
  width: image-width(sprite-file($sprites, $name));
  height: image-height(sprite-file($sprites, $name));
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: sprite-position($sprites, $name);
  background-image: sprite-url($sprites);
}
